$base-color: #ffffff;
$black-color: black;
$light-grey: #686767;
$dark-grey:rgba(110, 108, 108, 0.98);
$border-color:rgba(128, 127, 127, 0.5);
$green-color: #6dba45;
$background-color:rgba(0, 0, 0, 0.6);
$form-grey:rgb(216, 214, 214);
$error-color:red;

